/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem; /*buen tamaño para las fuentes*/
    line-height: 2;
}

/* Globales*/
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}
.btn:hover{
    background-color: #769c02;
}

/** UTILIDADES**/
.text-center{
    text-align: center;
}


/** Header y Navegacion **/
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}
/*DISPLAY : FLEX (ROW , COLUMN)*/
.nav-principal {
    padding: 20px 0px 20px 0px ;
    display: flex;
    justify-content: space-between;
}

.contenedor-navegacion{
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: .1rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    height: 55rem;
    background-size: cover;
    background-position: center center;
}
/** Box Model**/
.categorias{
    padding-top: 5rem;
}
/** Categorias**/
.categorias h2{
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: #FFFFFF;
    border-bottom-right-radius: 1rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

/** BLOQUE NOSOTROS */
.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%,#037bc0 100%)
    ,url(../img/nosotros.jpg);
    padding: 10rem 0 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
}
.sobre-nosotros-grid{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem; */
    display: flex;
    justify-content: flex-end;
}
.texto-nosotros{
   /* grid-column: 2 / 3;*/
   padding-left: 10rem;
   flex-basis: 50%;
   color: #FFFFFF;
}

/** Listado de productos **/
.listado-productos{
    display: grid;
    grid-template-columns:repeat(6, 1fr) ;
    gap: 2rem;
}

.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}

.contenido-principal{
    padding-top: 5rem;
}

.producto{
    background-color: #037bc0;
}

.texto-producto{
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

/* FORMA MODULOS Clase principal esta dando estilo a cada elemento*/

.texto-producto h3{
    margin-bottom: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}
/* FOOTER */
.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
}
.site-footer h3{
    margin-bottom: .5rem;
}

/* CON GRID */
.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/*  CON FLEX
.grid-footer{
    display: flex;
    gap: 2rem;
}

.grid-footer div{
    flex: 1;
} */
.footer-menu a{
    display: block;
}

.copyright{
    margin-top: 5rem;
    text-align: center;
}